.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card {
  flex: 1;
  padding: 1rem;
}

@media (max-width: 920px) {
  .row {flex-wrap: wrap}
  .card {flex-basis: 100%}

}

