.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 1rem;
  grid-auto-rows: auto;
  align-items: center;
}

.container > div {
  align-items: center;
  justify-content: center;
}

.colorPicker[style] {
  width: 60% !important;
  margin: auto;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
}

.item3 {
  margin: auto;
  display: flex;
  flex-direction: column;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
}

@media (max-width: 700px) {

  .container {
    display: initial;
  } 
}
