
:root {
  --main-font-color: #272323;
  --main-font: 'Roboto', sans-serif;
  --main-font-weight: 300;
  --primary-color: #267E92;
  --primary-color-dark: #155865;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  color: var(--main-font-color);
}

.push {
  height: 40px;
}

.page-container {
  width: auto;
  padding: 3% 10%; 
  min-height: 90vh;
  margin-bottom: -50px;
}

